html, body {
	width: 100%;
}
body {
	margin: 0;
	padding: 0;
}
[v-cloak] {
  display: none;
}
.fl-l {
	float: left;
}
.fl-r {
	float: right;
}
.dis-n {
	display: none;
}



.header {
	position: relative;
	width: 100%;
	height: 50px;
	text-align: center;
}
.header ul {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
.header li {
	list-style: none;
	line-height: 50px;
}
.header .li-left {
	width: 50%;
}
.header .li-right {
	width: 50%;
}
.bottom-line {
	position: absolute;
	width: 30%;
	height: 2px;
	bottom: 0;
	left: 10%;
	opacity: 1;
	background-color: red;
}
.bottom-line-left {
	left: 10%;
	animation: left .3s;
}
.bottom-line-right {
	left: 60%;
	animation: right .3s;
}

@keyframes left{
	from{
		opacity: 0;
		left: 60%;
	}
	to{
		left: 10%;
	}
}
@keyframes right{
	from{
		opacity: 0;
		left: 10%;
	}
	to{
		left: 60%;
	}
}


.left-content {
	/*background-color: #EEEEEE;*/
}

.left-content select {
  min-width: 300px;
}

.right-content {
	/*background-color: #FFFF00;*/
}

.staggered-transition {
	width: 100%;
	height: 100%;
	opacity: 1;
	transform: translate(0, 0);
    transition: all .3s ease;
}
.staggered-enter, .staggered-leave {
    opacity: 0;
    transform: translate(0, 500px);
}







/*div2*/
.ribbon {
	font-size: 16px !important;
	/* This ribbon is based on a 16px font side and a 24px vertical rhythm. I've used em's to position each element for scalability. If you want to use a different font size you may have to play with the position of the ribbon elements */

	width: 50%;

	position: relative;
	background: #ba89b6;
	color: #fff;
	text-align: center;
	padding: 1em 2em; /* Adjust to suit */
	margin: 2em auto 3em; /* Based on 24px vertical rhythm. 48px bottom margin - normally 24 but the ribbon 'graphics' take up 24px themselves so we double it. */
}
.ribbon:before, .ribbon:after {
	content: "";
	position: absolute;
	display: block;
	bottom: -1em;
	border: 1.5em solid #986794;
	z-index: -1;
}
.ribbon:before {
	left: -2em;
	border-right-width: 1.5em;
	border-left-color: transparent;
}
.ribbon:after {
	right: -2em;
	border-left-width: 1.5em;
	border-right-color: transparent;
}
.ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
	content: "";
	position: absolute;
	display: block;
	border-style: solid;
	border-color: #804f7c transparent transparent transparent;
	bottom: -1em;
}
.ribbon .ribbon-content:before {
	left: 0;
	border-width: 1em 0 0 1em;
}
.ribbon .ribbon-content:after {
	right: 0;
	border-width: 1em 1em 0 0;
}
